<div class="card container">
    <div class="row mt-3">
        <h2 class="col-6 mb-4">Cadastro de Assunto</h2>
        <div class="col-6 text-end">
            <button class="btn btn-sm btn-primary me-2 pe-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm" (click)="new();">
                <i class="bi bi-plus"></i>
            </button>
        </div>
    </div>
    <app-table [array]="assuntos" [columns]="colunas" (itemToEdit)="edit($event)"
        (itemToRemove)="remove($event)"></app-table>
    <div class="collapse" id="collapseForm">
        <hr />
        <form [formGroup]="form" (ngSubmit)="submit()" class="mb-4">
            <div class="row">
                <div class="md-3 col-6">
                    <label>Descrição</label>
                    <input type="text" class="form-control mt-1" formControlName="descricao" />
                    <div *ngIf="form.get('descricao')?.touched && form.get('descricao')?.invalid">
                        <small class="text-danger" *ngIf="form.get('descricao')?.errors?.['required']">Descrição é
                            obrigatório</small>
                        <small class="text-danger" *ngIf="form.get('descricao')?.errors?.['maxlength']">Máximo 20
                            caracteres</small>
                    </div>
                </div>
            </div>
            <div class="text-end">
                <button class="btn btn-primary me-2 p-2" type="submit" [disabled]="form.invalid">
                    {{ codAs ? 'Atualizar' : 'Adicionar' }}
                </button>
                <button class="btn btn-secondary me-2 p-2" type="button" (click)="cancel()" data-bs-toggle="collapse"
                    data-bs-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>